@import url("https://fonts.googleapis.com/css2?family=Orelega+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-orelega-one: "Orelega One";

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-smi: 13px;
  --font-size-xl: 20px;
  --font-size-mid: 17px;
  --font-size-29xl: 48px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-orange: #ff9e00;
  --color-darkorange-100: #ff8500;
  --color-darkorange-200: #ff6d00;
  --color-midnightblue: #03045e;
  --color-black: #000;
  --color-gray: #0d0d0d;

  /* border radiuses */
  --br-3xs: 10px;
  --br-xl: 20px;
}
